v2/plum/wsdl/FormResultManagementService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://result.form.v81.api.keysurvey.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://result.form.v81.api.keysurvey.com" name="FormResultManagement">
<types>
<xsd:schema>
<xsd:import namespace="http://v81.api.keysurvey.com" schemaLocation="http://app.keysurvey.com:80/Member/api/v81/form/result/FormResultManagementService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://result.form.v81.api.keysurvey.com" schemaLocation="http://app.keysurvey.com:80/Member/api/v81/form/result/FormResultManagementService?xsd=2"/>
</xsd:schema>
</types>
<message name="getResponse">
<part name="parameters" element="tns:getResponse"/>
</message>
<message name="getResponseResponse">
<part name="parameters" element="tns:getResponseResponse"/>
</message>
<message name="WSObjectNotFoundException">
<part xmlns:ns1="http://v81.api.keysurvey.com" name="fault" element="ns1:WSObjectNotFoundException"/>
</message>
<message name="WSInternalServerException">
<part xmlns:ns2="http://v81.api.keysurvey.com" name="fault" element="ns2:WSInternalServerException"/>
</message>
<message name="WSIllegalArgumentException">
<part xmlns:ns3="http://v81.api.keysurvey.com" name="fault" element="ns3:WSIllegalArgumentException"/>
</message>
<message name="WSSecurityException">
<part xmlns:ns4="http://v81.api.keysurvey.com" name="fault" element="ns4:WSSecurityException"/>
</message>
<message name="getResponses">
<part name="parameters" element="tns:getResponses"/>
</message>
<message name="getResponsesResponse">
<part name="parameters" element="tns:getResponsesResponse"/>
</message>
<message name="getRespondents">
<part name="parameters" element="tns:getRespondents"/>
</message>
<message name="getRespondentsResponse">
<part name="parameters" element="tns:getRespondentsResponse"/>
</message>
<message name="createPortalRespondent">
<part name="parameters" element="tns:createPortalRespondent"/>
</message>
<message name="createPortalRespondentResponse">
<part name="parameters" element="tns:createPortalRespondentResponse"/>
</message>
<message name="getRespondent">
<part name="parameters" element="tns:getRespondent"/>
</message>
<message name="getRespondentResponse">
<part name="parameters" element="tns:getRespondentResponse"/>
</message>
<message name="reassignResponse">
<part name="parameters" element="tns:reassignResponse"/>
</message>
<message name="reassignResponseResponse">
<part name="parameters" element="tns:reassignResponseResponse"/>
</message>
<message name="deleteRespondentsByEmail">
<part name="parameters" element="tns:deleteRespondentsByEmail"/>
</message>
<message name="deleteRespondentsByEmailResponse">
<part name="parameters" element="tns:deleteRespondentsByEmailResponse"/>
</message>
<message name="deleteRespondentsByActivityDate">
<part name="parameters" element="tns:deleteRespondentsByActivityDate"/>
</message>
<message name="deleteRespondentsByActivityDateResponse">
<part name="parameters" element="tns:deleteRespondentsByActivityDateResponse"/>
</message>
<message name="deleteRespondentsByLaunchDate">
<part name="parameters" element="tns:deleteRespondentsByLaunchDate"/>
</message>
<message name="deleteRespondentsByLaunchDateResponse">
<part name="parameters" element="tns:deleteRespondentsByLaunchDateResponse"/>
</message>
<message name="createRespondents">
<part name="parameters" element="tns:createRespondents"/>
</message>
<message name="createRespondentsResponse">
<part name="parameters" element="tns:createRespondentsResponse"/>
</message>
<message name="copyRespondent">
<part name="parameters" element="tns:copyRespondent"/>
</message>
<message name="copyRespondentResponse">
<part name="parameters" element="tns:copyRespondentResponse"/>
</message>
<message name="deleteRespondent">
<part name="parameters" element="tns:deleteRespondent"/>
</message>
<message name="deleteRespondentResponse">
<part name="parameters" element="tns:deleteRespondentResponse"/>
</message>
<message name="saveResponses">
<part name="parameters" element="tns:saveResponses"/>
</message>
<message name="saveResponsesResponse">
<part name="parameters" element="tns:saveResponsesResponse"/>
</message>
<message name="deleteRespondents">
<part name="parameters" element="tns:deleteRespondents"/>
</message>
<message name="deleteRespondentsResponse">
<part name="parameters" element="tns:deleteRespondentsResponse"/>
</message>
<message name="updateRespondents">
<part name="parameters" element="tns:updateRespondents"/>
</message>
<message name="updateRespondentsResponse">
<part name="parameters" element="tns:updateRespondentsResponse"/>
</message>
<message name="getRespondentsComplete">
<part name="parameters" element="tns:getRespondentsComplete"/>
</message>
<message name="getRespondentsCompleteResponse">
<part name="parameters" element="tns:getRespondentsCompleteResponse"/>
</message>
<message name="getRespondentsByCriteria">
<part name="parameters" element="tns:getRespondentsByCriteria"/>
</message>
<message name="getRespondentsByCriteriaResponse">
<part name="parameters" element="tns:getRespondentsByCriteriaResponse"/>
</message>
<message name="getRespondentsPartial">
<part name="parameters" element="tns:getRespondentsPartial"/>
</message>
<message name="getRespondentsPartialResponse">
<part name="parameters" element="tns:getRespondentsPartialResponse"/>
</message>
<message name="getFormStatistics">
<part name="parameters" element="tns:getFormStatistics"/>
</message>
<message name="getFormStatisticsResponse">
<part name="parameters" element="tns:getFormStatisticsResponse"/>
</message>
<message name="getRespondentsByCriteriaWithIncompletes">
<part name="parameters" element="tns:getRespondentsByCriteriaWithIncompletes"/>
</message>
<message name="getRespondentsByCriteriaWithIncompletesResponse">
<part name="parameters" element="tns:getRespondentsByCriteriaWithIncompletesResponse"/>
</message>
<portType name="FormResultManagementService">
<operation name="getResponse">
<input message="tns:getResponse"/>
<output message="tns:getResponseResponse"/>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
</operation>
<operation name="getResponses">
<input message="tns:getResponses"/>
<output message="tns:getResponsesResponse"/>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
</operation>
<operation name="getRespondents">
<input message="tns:getRespondents"/>
<output message="tns:getRespondentsResponse"/>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
</operation>
<operation name="createPortalRespondent">
<input message="tns:createPortalRespondent"/>
<output message="tns:createPortalRespondentResponse"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"/>
</operation>
<operation name="getRespondent">
<input message="tns:getRespondent"/>
<output message="tns:getRespondentResponse"/>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
</operation>
<operation name="reassignResponse">
<input message="tns:reassignResponse"/>
<output message="tns:reassignResponseResponse"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"/>
</operation>
<operation name="deleteRespondentsByEmail">
<input message="tns:deleteRespondentsByEmail"/>
<output message="tns:deleteRespondentsByEmailResponse"/>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
</operation>
<operation name="deleteRespondentsByActivityDate">
<input message="tns:deleteRespondentsByActivityDate"/>
<output message="tns:deleteRespondentsByActivityDateResponse"/>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
</operation>
<operation name="deleteRespondentsByLaunchDate">
<input message="tns:deleteRespondentsByLaunchDate"/>
<output message="tns:deleteRespondentsByLaunchDateResponse"/>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
</operation>
<operation name="createRespondents">
<input message="tns:createRespondents"/>
<output message="tns:createRespondentsResponse"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"/>
</operation>
<operation name="copyRespondent">
<input message="tns:copyRespondent"/>
<output message="tns:copyRespondentResponse"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
</operation>
<operation name="deleteRespondent">
<input message="tns:deleteRespondent"/>
<output message="tns:deleteRespondentResponse"/>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
</operation>
<operation name="saveResponses">
<input message="tns:saveResponses"/>
<output message="tns:saveResponsesResponse"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"/>
</operation>
<operation name="deleteRespondents">
<input message="tns:deleteRespondents"/>
<output message="tns:deleteRespondentsResponse"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
</operation>
<operation name="updateRespondents">
<input message="tns:updateRespondents"/>
<output message="tns:updateRespondentsResponse"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"/>
</operation>
<operation name="getRespondentsComplete">
<input message="tns:getRespondentsComplete"/>
<output message="tns:getRespondentsCompleteResponse"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"/>
</operation>
<operation name="getRespondentsByCriteria">
<input message="tns:getRespondentsByCriteria"/>
<output message="tns:getRespondentsByCriteriaResponse"/>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
</operation>
<operation name="getRespondentsPartial">
<input message="tns:getRespondentsPartial"/>
<output message="tns:getRespondentsPartialResponse"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"/>
</operation>
<operation name="getFormStatistics">
<input message="tns:getFormStatistics"/>
<output message="tns:getFormStatisticsResponse"/>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
</operation>
<operation name="getRespondentsByCriteriaWithIncompletes">
<input message="tns:getRespondentsByCriteriaWithIncompletes"/>
<output message="tns:getRespondentsByCriteriaWithIncompletesResponse"/>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
</operation>
</portType>
<binding name="FormResultManagementServicePortBinding" type="tns:FormResultManagementService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getResponse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
</operation>
<operation name="getResponses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"/>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
</operation>
<operation name="getRespondents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"/>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
</operation>
<operation name="createPortalRespondent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getRespondent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"/>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
</operation>
<operation name="reassignResponse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="deleteRespondentsByEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
</operation>
<operation name="deleteRespondentsByActivityDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
</operation>
<operation name="deleteRespondentsByLaunchDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
</operation>
<operation name="createRespondents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="copyRespondent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
</operation>
<operation name="deleteRespondent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
</operation>
<operation name="saveResponses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="deleteRespondents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
</operation>
<operation name="updateRespondents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getRespondentsComplete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getRespondentsByCriteria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"/>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
</operation>
<operation name="getRespondentsPartial">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getFormStatistics">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"/>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
</operation>
<operation name="getRespondentsByCriteriaWithIncompletes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"/>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
</operation>
</binding>
<service name="FormResultManagement">
<port name="FormResultManagementServicePort" binding="tns:FormResultManagementServicePortBinding">
<soap:address location="http://app.keysurvey.com:80/Member/api/v81/form/result/FormResultManagementService"/>
</port>
</service>
</definitions>