v2/plum/wsdl/FormDesignManagementService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://design.form.v81.api.keysurvey.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://design.form.v81.api.keysurvey.com" name="FormDesignManagement">
<types>
<xsd:schema>
<xsd:import namespace="http://v81.api.keysurvey.com" schemaLocation="http://app.form.com:80/Member/api/v81/form/design/FormDesignManagementService?xsd=1"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://user.v81.api.keysurvey.com" schemaLocation="http://app.form.com:80/Member/api/v81/form/design/FormDesignManagementService?xsd=2"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://design.form.v81.api.keysurvey.com" schemaLocation="http://app.form.com:80/Member/api/v81/form/design/FormDesignManagementService?xsd=3"></xsd:import>
</xsd:schema>
</types>
<message name="updateForm">
<part name="parameters" element="tns:updateForm"></part>
</message>
<message name="updateFormResponse">
<part name="parameters" element="tns:updateFormResponse"></part>
</message>
<message name="WSObjectNotFoundException">
<part xmlns:ns1="http://v81.api.keysurvey.com" name="fault" element="ns1:WSObjectNotFoundException"></part>
</message>
<message name="WSIllegalArgumentException">
<part xmlns:ns2="http://v81.api.keysurvey.com" name="fault" element="ns2:WSIllegalArgumentException"></part>
</message>
<message name="WSInternalServerException">
<part xmlns:ns3="http://v81.api.keysurvey.com" name="fault" element="ns3:WSInternalServerException"></part>
</message>
<message name="WSSecurityException">
<part xmlns:ns4="http://v81.api.keysurvey.com" name="fault" element="ns4:WSSecurityException"></part>
</message>
<message name="getFormLogic">
<part name="parameters" element="tns:getFormLogic"></part>
</message>
<message name="getFormLogicResponse">
<part name="parameters" element="tns:getFormLogicResponse"></part>
</message>
<message name="getQuestion">
<part name="parameters" element="tns:getQuestion"></part>
</message>
<message name="getQuestionResponse">
<part name="parameters" element="tns:getQuestionResponse"></part>
</message>
<message name="getQuestions">
<part name="parameters" element="tns:getQuestions"></part>
</message>
<message name="getQuestionsResponse">
<part name="parameters" element="tns:getQuestionsResponse"></part>
</message>
<message name="deleteQuestion">
<part name="parameters" element="tns:deleteQuestion"></part>
</message>
<message name="deleteQuestionResponse">
<part name="parameters" element="tns:deleteQuestionResponse"></part>
</message>
<message name="getAnswers">
<part name="parameters" element="tns:getAnswers"></part>
</message>
<message name="getAnswersResponse">
<part name="parameters" element="tns:getAnswersResponse"></part>
</message>
<message name="deleteAnswer">
<part name="parameters" element="tns:deleteAnswer"></part>
</message>
<message name="deleteAnswerResponse">
<part name="parameters" element="tns:deleteAnswerResponse"></part>
</message>
<message name="addAnswer">
<part name="parameters" element="tns:addAnswer"></part>
</message>
<message name="addAnswerResponse">
<part name="parameters" element="tns:addAnswerResponse"></part>
</message>
<message name="addQuestion">
<part name="parameters" element="tns:addQuestion"></part>
</message>
<message name="addQuestionResponse">
<part name="parameters" element="tns:addQuestionResponse"></part>
</message>
<message name="getQuestionIdentifier">
<part name="parameters" element="tns:getQuestionIdentifier"></part>
</message>
<message name="getQuestionIdentifierResponse">
<part name="parameters" element="tns:getQuestionIdentifierResponse"></part>
</message>
<message name="setAnswerIdentifier">
<part name="parameters" element="tns:setAnswerIdentifier"></part>
</message>
<message name="setAnswerIdentifierResponse">
<part name="parameters" element="tns:setAnswerIdentifierResponse"></part>
</message>
<message name="setQuestionIdentifier">
<part name="parameters" element="tns:setQuestionIdentifier"></part>
</message>
<message name="setQuestionIdentifierResponse">
<part name="parameters" element="tns:setQuestionIdentifierResponse"></part>
</message>
<message name="getAnswerIdentifier">
<part name="parameters" element="tns:getAnswerIdentifier"></part>
</message>
<message name="getAnswerIdentifierResponse">
<part name="parameters" element="tns:getAnswerIdentifierResponse"></part>
</message>
<message name="getAnswer">
<part name="parameters" element="tns:getAnswer"></part>
</message>
<message name="getAnswerResponse">
<part name="parameters" element="tns:getAnswerResponse"></part>
</message>
<message name="getFormDesign">
<part name="parameters" element="tns:getFormDesign"></part>
</message>
<message name="getFormDesignResponse">
<part name="parameters" element="tns:getFormDesignResponse"></part>
</message>
<message name="setFormNotes">
<part name="parameters" element="tns:setFormNotes"></part>
</message>
<message name="setFormNotesResponse">
<part name="parameters" element="tns:setFormNotesResponse"></part>
</message>
<message name="getFormNotes">
<part name="parameters" element="tns:getFormNotes"></part>
</message>
<message name="getFormNotesResponse">
<part name="parameters" element="tns:getFormNotesResponse"></part>
</message>
<message name="setSubmissionPolicy">
<part name="parameters" element="tns:setSubmissionPolicy"></part>
</message>
<message name="setSubmissionPolicyResponse">
<part name="parameters" element="tns:setSubmissionPolicyResponse"></part>
</message>
<message name="getSubmissionPolicy">
<part name="parameters" element="tns:getSubmissionPolicy"></part>
</message>
<message name="getSubmissionPolicyResponse">
<part name="parameters" element="tns:getSubmissionPolicyResponse"></part>
</message>
<message name="updateAnswer">
<part name="parameters" element="tns:updateAnswer"></part>
</message>
<message name="updateAnswerResponse">
<part name="parameters" element="tns:updateAnswerResponse"></part>
</message>
<message name="updateQuestion">
<part name="parameters" element="tns:updateQuestion"></part>
</message>
<message name="updateQuestionResponse">
<part name="parameters" element="tns:updateQuestionResponse"></part>
</message>
<message name="deleteForm">
<part name="parameters" element="tns:deleteForm"></part>
</message>
<message name="deleteFormResponse">
<part name="parameters" element="tns:deleteFormResponse"></part>
</message>
<message name="createForm">
<part name="parameters" element="tns:createForm"></part>
</message>
<message name="createFormResponse">
<part name="parameters" element="tns:createFormResponse"></part>
</message>
<message name="getFormPermissions">
<part name="parameters" element="tns:getFormPermissions"></part>
</message>
<message name="getFormPermissionsResponse">
<part name="parameters" element="tns:getFormPermissionsResponse"></part>
</message>
<message name="getFormTree">
<part name="parameters" element="tns:getFormTree"></part>
</message>
<message name="getFormTreeResponse">
<part name="parameters" element="tns:getFormTreeResponse"></part>
</message>
<message name="createCompleteForm">
<part name="parameters" element="tns:createCompleteForm"></part>
</message>
<message name="createCompleteFormResponse">
<part name="parameters" element="tns:createCompleteFormResponse"></part>
</message>
<message name="createCompleteQuestion">
<part name="parameters" element="tns:createCompleteQuestion"></part>
</message>
<message name="createCompleteQuestionResponse">
<part name="parameters" element="tns:createCompleteQuestionResponse"></part>
</message>
<message name="getForms">
<part name="parameters" element="tns:getForms"></part>
</message>
<message name="getFormsResponse">
<part name="parameters" element="tns:getFormsResponse"></part>
</message>
<message name="setQuestionLogic">
<part name="parameters" element="tns:setQuestionLogic"></part>
</message>
<message name="setQuestionLogicResponse">
<part name="parameters" element="tns:setQuestionLogicResponse"></part>
</message>
<message name="WSException">
<part xmlns:ns5="http://v81.api.keysurvey.com" name="fault" element="ns5:WSException"></part>
</message>
<message name="getQuestionLogic">
<part name="parameters" element="tns:getQuestionLogic"></part>
</message>
<message name="getQuestionLogicResponse">
<part name="parameters" element="tns:getQuestionLogicResponse"></part>
</message>
<message name="setFormLogic">
<part name="parameters" element="tns:setFormLogic"></part>
</message>
<message name="setFormLogicResponse">
<part name="parameters" element="tns:setFormLogicResponse"></part>
</message>
<message name="getQuestionByPosition">
<part name="parameters" element="tns:getQuestionByPosition"></part>
</message>
<message name="getQuestionByPositionResponse">
<part name="parameters" element="tns:getQuestionByPositionResponse"></part>
</message>
<message name="getAnswerByPosition">
<part name="parameters" element="tns:getAnswerByPosition"></part>
</message>
<message name="getAnswerByPositionResponse">
<part name="parameters" element="tns:getAnswerByPositionResponse"></part>
</message>
<message name="getAnswerPosition">
<part name="parameters" element="tns:getAnswerPosition"></part>
</message>
<message name="getAnswerPositionResponse">
<part name="parameters" element="tns:getAnswerPositionResponse"></part>
</message>
<message name="moveAnswer">
<part name="parameters" element="tns:moveAnswer"></part>
</message>
<message name="moveAnswerResponse">
<part name="parameters" element="tns:moveAnswerResponse"></part>
</message>
<message name="getQuestionPosition">
<part name="parameters" element="tns:getQuestionPosition"></part>
</message>
<message name="getQuestionPositionResponse">
<part name="parameters" element="tns:getQuestionPositionResponse"></part>
</message>
<message name="moveQuestion">
<part name="parameters" element="tns:moveQuestion"></part>
</message>
<message name="moveQuestionResponse">
<part name="parameters" element="tns:moveQuestionResponse"></part>
</message>
<message name="setQuestionSettings">
<part name="parameters" element="tns:setQuestionSettings"></part>
</message>
<message name="setQuestionSettingsResponse">
<part name="parameters" element="tns:setQuestionSettingsResponse"></part>
</message>
<message name="getQuestionSettings">
<part name="parameters" element="tns:getQuestionSettings"></part>
</message>
<message name="getQuestionSettingsResponse">
<part name="parameters" element="tns:getQuestionSettingsResponse"></part>
</message>
<message name="setFormDesign">
<part name="parameters" element="tns:setFormDesign"></part>
</message>
<message name="setFormDesignResponse">
<part name="parameters" element="tns:setFormDesignResponse"></part>
</message>
<message name="getForm">
<part name="parameters" element="tns:getForm"></part>
</message>
<message name="getFormResponse">
<part name="parameters" element="tns:getFormResponse"></part>
</message>
<portType name="FormDesignManagementService">
<operation name="updateForm">
<input message="tns:updateForm"></input>
<output message="tns:updateFormResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="getFormLogic">
<input message="tns:getFormLogic"></input>
<output message="tns:getFormLogicResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="getQuestion">
<input message="tns:getQuestion"></input>
<output message="tns:getQuestionResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="getQuestions">
<input message="tns:getQuestions"></input>
<output message="tns:getQuestionsResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="deleteQuestion">
<input message="tns:deleteQuestion"></input>
<output message="tns:deleteQuestionResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="getAnswers">
<input message="tns:getAnswers"></input>
<output message="tns:getAnswersResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="deleteAnswer">
<input message="tns:deleteAnswer"></input>
<output message="tns:deleteAnswerResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="addAnswer">
<input message="tns:addAnswer"></input>
<output message="tns:addAnswerResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="addQuestion">
<input message="tns:addQuestion"></input>
<output message="tns:addQuestionResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="getQuestionIdentifier">
<input message="tns:getQuestionIdentifier"></input>
<output message="tns:getQuestionIdentifierResponse"></output>
</operation>
<operation name="setAnswerIdentifier">
<input message="tns:setAnswerIdentifier"></input>
<output message="tns:setAnswerIdentifierResponse"></output>
</operation>
<operation name="setQuestionIdentifier">
<input message="tns:setQuestionIdentifier"></input>
<output message="tns:setQuestionIdentifierResponse"></output>
</operation>
<operation name="getAnswerIdentifier">
<input message="tns:getAnswerIdentifier"></input>
<output message="tns:getAnswerIdentifierResponse"></output>
</operation>
<operation name="getAnswer">
<input message="tns:getAnswer"></input>
<output message="tns:getAnswerResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="getFormDesign">
<input message="tns:getFormDesign"></input>
<output message="tns:getFormDesignResponse"></output>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="setFormNotes">
<input message="tns:setFormNotes"></input>
<output message="tns:setFormNotesResponse"></output>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="getFormNotes">
<input message="tns:getFormNotes"></input>
<output message="tns:getFormNotesResponse"></output>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="setSubmissionPolicy">
<input message="tns:setSubmissionPolicy"></input>
<output message="tns:setSubmissionPolicyResponse"></output>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="getSubmissionPolicy">
<input message="tns:getSubmissionPolicy"></input>
<output message="tns:getSubmissionPolicyResponse"></output>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="updateAnswer">
<input message="tns:updateAnswer"></input>
<output message="tns:updateAnswerResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="updateQuestion">
<input message="tns:updateQuestion"></input>
<output message="tns:updateQuestionResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="deleteForm">
<input message="tns:deleteForm"></input>
<output message="tns:deleteFormResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="createForm">
<input message="tns:createForm"></input>
<output message="tns:createFormResponse"></output>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
</operation>
<operation name="getFormPermissions">
<input message="tns:getFormPermissions"></input>
<output message="tns:getFormPermissionsResponse"></output>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="getFormTree">
<input message="tns:getFormTree"></input>
<output message="tns:getFormTreeResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="createCompleteForm">
<input message="tns:createCompleteForm"></input>
<output message="tns:createCompleteFormResponse"></output>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="createCompleteQuestion">
<input message="tns:createCompleteQuestion"></input>
<output message="tns:createCompleteQuestionResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="getForms">
<input message="tns:getForms"></input>
<output message="tns:getFormsResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="setQuestionLogic">
<input message="tns:setQuestionLogic"></input>
<output message="tns:setQuestionLogicResponse"></output>
<fault message="tns:WSException" name="WSException"></fault>
</operation>
<operation name="getQuestionLogic">
<input message="tns:getQuestionLogic"></input>
<output message="tns:getQuestionLogicResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="setFormLogic">
<input message="tns:setFormLogic"></input>
<output message="tns:setFormLogicResponse"></output>
<fault message="tns:WSException" name="WSException"></fault>
</operation>
<operation name="getQuestionByPosition">
<input message="tns:getQuestionByPosition"></input>
<output message="tns:getQuestionByPositionResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="getAnswerByPosition">
<input message="tns:getAnswerByPosition"></input>
<output message="tns:getAnswerByPositionResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="getAnswerPosition">
<input message="tns:getAnswerPosition"></input>
<output message="tns:getAnswerPositionResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="moveAnswer">
<input message="tns:moveAnswer"></input>
<output message="tns:moveAnswerResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="getQuestionPosition">
<input message="tns:getQuestionPosition"></input>
<output message="tns:getQuestionPositionResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="moveQuestion">
<input message="tns:moveQuestion"></input>
<output message="tns:moveQuestionResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="setQuestionSettings">
<input message="tns:setQuestionSettings"></input>
<output message="tns:setQuestionSettingsResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="getQuestionSettings">
<input message="tns:getQuestionSettings"></input>
<output message="tns:getQuestionSettingsResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="setFormDesign">
<input message="tns:setFormDesign"></input>
<output message="tns:setFormDesignResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="getForm">
<input message="tns:getForm"></input>
<output message="tns:getFormResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
</portType>
<binding name="FormDesignManagementServicePortBinding" type="tns:FormDesignManagementService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="updateForm">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getFormLogic">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getQuestion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getQuestions">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteQuestion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAnswers">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteAnswer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="addAnswer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="addQuestion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getQuestionIdentifier">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="setAnswerIdentifier">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="setQuestionIdentifier">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAnswerIdentifier">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAnswer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getFormDesign">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setFormNotes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getFormNotes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setSubmissionPolicy">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getSubmissionPolicy">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateAnswer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateQuestion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteForm">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="createForm">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getFormPermissions">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getFormTree">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="createCompleteForm">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="createCompleteQuestion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getForms">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setQuestionLogic">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getQuestionLogic">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setFormLogic">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getQuestionByPosition">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAnswerByPosition">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAnswerPosition">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="moveAnswer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getQuestionPosition">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="moveQuestion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setQuestionSettings">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getQuestionSettings">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setFormDesign">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getForm">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="FormDesignManagement">
<port name="FormDesignManagementServicePort" binding="tns:FormDesignManagementServicePortBinding">
<soap:address location="http://app.form.com:80/Member/api/v81/form/design/FormDesignManagementService"></soap:address>
</port>
</service>
</definitions>